$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

span{
    display: block;
    width: 400px;
    display: block;

    i{
        font-size: 11em;
        color: #e74c3c;
    }
}
